build/
*.swp
# visual studio
.vs/
x86/
x64/
vs_*/
*.filters
*.vcxproj*
ztracer.VC.db
ztracer.sln
Debug/
Win32/
test_Ray.x.dir/
ztracer.VC.VC.opendb
ztracer.x.dir/
# cmake
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
CTestTestfile.cmake
DartConfiguration.tcl
cmake_install.cmake

