build/
*.swp
# visual studio
.vs/
x86/
x64/
vs_*/
*.filters
*.vcxproj*
ztracer.VC.db
ztracer.sln
Debug/
Release/
Win32/
*.dir/
ztracer.VC.VC.opendb
# cmake
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
CTestTestfile.cmake
DartConfiguration.tcl
cmake_install.cmake
*.pyc

